* {
  margin: 0;
}

.cat-component {
  display: flex;
  /* justify-content: center; */
  flex-direction: column-reverse;
}

header {
  display: flex;
  justify-content: center;
}

delete-button{
  background-color: red;
}