@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.app-wrapper {
  font-family: "Lato", sans-serif;
}
.landing {
  display: flex;
  font-size: 80px;
}
.name{
  line-height: 70px;
}
.full-name {
  padding-top: 13vh;
  /* font-weight: 500; */
  font-size: 75px;
  /* color: #A7D3DD; */
  color: #e0bc4e;
  /* padding-left: 27vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.as-logo {
  max-width: 100px;
  max-height: 100px;
}
img {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #e0bc4e;
  /* border: 1px solid rgb(141, 125, 78); */
  /* position: absolute; */
  padding: 1rem;
  padding-left: 100px;
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
}

.projects-div {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-self: flex-end;
  flex-wrap: wrap;
  padding-top: 5vh;
  padding-bottom: 7vh;
}

.contact-links {
  padding-top: 2vh;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2vh;
  margin-left: 5vh;
}

.project {
  max-width: 370px;
  max-height: 370px;
}

.project:hover {
  transition: all 1s ease;
  padding: 7px;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #e0bc4e;
  /* border: 1px solid rgb(141, 125, 78); */
  color: white;
}

@media only screen and (min-width: 600px) {
  .as-logo {
    max-width: 80px;
    max-height: 80px;
  }
  .header {
    right: 0;
  }
  .projects-div {
    align-content: center;
  }
  .full-name {
    display: flex;
    flex-direction: row;
    font-size: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .as-logo {
    max-width: 150px;
    max-height: 150px;
    display: flex;
  }
  .full-name {
    font-size: 100px;
    /* align-items: center; */
  }
}
