* {
  box-sizing: border-box;
}

body {
  max-width: 90%;
  margin: 0;
}


.divider {
  width: 100%;
  background-color: slategray;
  height: 2px;
}


h1 {
  padding: 5px;
  font-size: 70px;
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  float: left;
  width: 450px;
  height: auto;
  border-radius: 15px;
}

.row {
  margin-top: 25px;
  padding-bottom: 40px;
}

.column {
  float: left;
  width: 33.33%;
  height: 685px;
  border-left: solid 1px black;
  border-right: solid 1px black;
}
