* {
  /* margin: 0px; */
  box-sizing: border-box;
}

body {
  background-image: url("./images/universe.jpg");
  /* background-repeat: no-repeat; */
}

.header {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
  padding: 20px;
  /* margin-bottom: 20px; */
  color: white;
  background-color: black;
  font-size: 40px;
}

.people-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: black;
  color: white;
  width: 220px;
}
