@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  
}
header {
  display: flex;
  /* justify-content: center;  */
  /* text-align: center; */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  padding-left: 70px;
  background-color: #0d4626;
  color: white;
  border: .5px solid #052712;
}

footer {
  /* /margin-bottom: 0px; */
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #0d4626;
  border: .5px solid #052712;
  color: white;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  margin-left: auto;
  /* bottom: 0; */
}

.nav-link {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  text-decoration: none;
}

.nav-icon {
  color: white;
  text-decoration: none;
}

.single-user {
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4),
  0 6px 20px 0 rgba(0, 0, 0, 0.2);
  /* margin: 20px; */
  border: 1px solid rgb(161, 160, 160);
  padding: 15px;
  width: 175px;
  height: 220px;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(211, 206, 206);
}
.group-card{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  justify-content: flex-start;
  flex-wrap: wrap;
}

.single-user:hover {
  transition: all 1s ease;
  background-color: rgb(163, 161, 161);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.user-image {
  margin-top: 20px;
  height: auto;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4),
  0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.body-wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 75px;
  margin-bottom: 210px;
}

.contact-wrapper {
  margin-top: 200px;
}

.about-wrapper {
  margin-top: 200px;
  margin-bottom: 20px;
}

.divider {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.home-wrapper {
  margin-top: 130px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #2650aa;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #142e66;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
