* {
  box-sizing: border-box;
  font-size: 0px;
}
.main-box{
  border-width: 5px;
  margin: 5px;
}

.salmon{
  margin: auto;
  background-color: #F5C6D6;
  border-width: 5px;
  width: 97%;
  height: 100px;
  display: inline-block;
  margin: 4px;
}

.pink{
  background-color: #EE2E84;
  border-width: 5px;
  width: 23%;
  height: 100px;
  display: inline-block;
  margin: 5px;
}

.blue{
  background-color: #85CFD8;
  border-width: 5px;
  width: 48%;
  height: 100px;
  display: inline-block;
  margin: 4px;
}

.green{
  background-color: #8DC63F;
  border-width: 5px;
  width: 71%;
  height: 100px;
  display: inline-block;
  margin: 4px;
}

.orange{
  background-color: #E76E34;
  border-width: 5px;
  width: 25%;
  height: 100px;
  display: inline-block;
  margin: 4px;
}