h1 {
  color: brown;
}

body {
  background-color: rosybrown;
}

nav {
  margin-bottom: 50px !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10%;
  position: fixed;
  background-color: lightgray;
  overflow: hidden;
}

li {
  float: left;
  border-right: 1px solid lightslategray;
  position: relative;
}

li a {
  display: block;
  padding: 30px 35px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: gray;
}

.active {
  background-color: gray;
}

img {
  width: 150px;
  height: 150px;
}


