/* * {
  margin: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;

} */

@font-face {
  font-family: 'verdemoderna';
  src: url('assets/verdemoderna.woff') format('woff');
}

* {
  box-sizing: border-box;
}

h1,
h3 {
  font-family: 'Julius Sans One', sans-serif;
}

body,
h2 {
  font-family: 'Libre Baskerville', sans-serif;
  color: #124448;
}

.body-container {
  position: relative;
}

.header-background {
  background-image: url(assets/contours.png),
  url(assets/noise.png),
  url(assets/gridlines.png),
  url(assets/huntington.jpg);
  background-size: auto,
  auto,
  auto,
  cover;
  position: relative;
  border-top: 12px solid #124448;
  padding-top: 77px;
  background-attachment: fixed, fixed, fixed, scroll;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-position: 0 0, 0 0, -5px -25px, 0 50%;
  height: 310px;
  z-index: 1;
}

.footer {
  font-family: 'verdemoderna';
  height: 160px;
  background-color: #134347;
  text-align: center;
  position: relative;
  z-index: 2;
}


@media screen and (max-width: 992px) {
  .sidebar-positioning {
    position: absolute;
    top: 110%;
  }
  .participation-background {
    position: static;
  }
  .more-actions {
    position: absolute;
    background-color: #B2CEBE;
    background-image: url(assets/contours-opaque.png), url(assets/gridlines-opaque.png), url(assets/bamboo.png);
    background-attachment: scroll, scroll, fixed;
    background-repeat: repeat, repeat, cover;
  }
  .examples-background-sm {
    position: absolute;
    top: 100%;
  }
  .footer {
    height: 121px;
  }
  .footer a {
    font-size: 3.25em;
  }
  .title {
    font-size: 2.5em;
    text-align: center;
  }
  .subtitle {
    font-size: 1.3em;
    text-align: center;
  }
  .logo {
    width: 105px;
  }
  .right {
    border: 0;
  }
  .test {
    position: static;
  }
  .view-all-container {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    bottom: 0;
  }
  .sidebar-positioning {
    margin: 0;
    padding: 0;
  }
  .examples-background-sm {
    background-color: #E5EDE8;
    padding: 2% 0 0 0;
  }
  .examples-sm {
    height: 135px;
  }
  .sidebar-main {
    font-size: 0.75em;
  }
  .sidebar-author {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 85px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-background {
    padding-top: 7%;
  }
  .closer {
    font-size: 1.6em;
  }
  .closer-container {
    padding: 10px 0;
    height: 220px
  }
  .sidebar-main {
    font-size: 0.60em;
  }
  .sidebar-container {
    height: 100px;
  }
  .sidebar-author {
    font-size: 0.65em;
  }
  .examples-sm {
    height: 145px;
  }
}