* {
  margin: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

@font-face {
  font-family: Julius Sans One;
  src: url(Julius_Sans_One/JuliusSansOne-Regular.ttf);
}

@font-face {
  font-family: Verde Moderna;
  src: url(verdemoderna.woff);
}

body {
  color: #325050;
}

