.flag {
  width: 200px;
  height: 100px;
  border: 1px solid black;
}

.france > .left {
  display: inline-block;
  height: 100%;
  width: 32%;
  background-color: blue;
}

.france > .middle {
  display: inline-block;
  height: 100%;
  width: 32%;
  background-color: white;
}

.france > .right {
  display: inline-block;
  height: 100%;
  width: 33%;
  background-color: red;
}

.germany > .top {
  height: 33px;
  background-color: black;  
}

.germany > .middle {
  height: 33px;
  background-color: red;
}

.germany > .bottom {
  height: 33px;
  background-color: yellow;
}
